
<div class="container">

  <h1>
    Dynamic templates, d3, angular-material and more
  </h1>

  <hr>

  <app-my-component *ngIf="template && bindings" [template]="template" [bindings]="bindings"></app-my-component>

  <hr>

  <app-chart></app-chart>

  <hr>
  <br>
  <md-input-container>
    <input mdInput placeholder="Simple Input" [(ngModel)]="title">
  </md-input-container>

  <br>

  <md-icon>home</md-icon>

  <button md-raised-button>I'm a button</button>

  <br>

  <md-select placeholder="I'm a select" [(ngModel)]="selectedValue">
    <md-option *ngFor="let item of [{value:'0', view:'zero'}, {value:'1', view:'one'}, {value:'2', view:'Two'}]" [value]="item.value">
      {{item.view}}
    </md-option>
  </md-select>

</div>
